.btn_submit {
  width: 97px;
  height: 32px;
  background: #01959F;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
}

.btn_submit:hover {
  background: #017e87;
}

.btn_delete {
  width: 97px;
  height: 32px;
  background: #E11428;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
}

.btn_delete:hover {
  background: #cf1325;
}

.btn_cancel {
  width: 76px;
  height: 32px;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  color: black;
  border: none;
  cursor: pointer;
}

.btn_cancel:hover {
  background: #f2f2f2;
}